html,body,#appBootElement,.appContainer {
  height:100%;
  width:100%;
  margin:0;
}

h1 {
  margin: 0;
}

.file-preview {
  position: relative;
  font-size: 16px;
  border: 1px solid black;
  margin: 1%;
  padding: 1%;
  width: 33%;

  & > .hover-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    width: 100%;
    height: 100%;

    & > a {
      position: absolute;
      margin: auto;
      top: 30%;
      bottom: 0;
      right: 3%;
      display: block;

      &:visited, &:active, &:link, &:focus {
        color: inherit;
      }
    }

    & > span {
      display: block;
      position: absolute;
      margin: auto;
      top: 30%;
      bottom: 0;
      right: 18%;
      display: block;
    }
  }

  &:hover {
    & > .hover-overlay {
      display: block;
    }
  }


  & > span  {
    display: inline-block;

    &.file-icon {
      width: 25%;
      height: 100%;
    }

    &.file-details {
      width: 75%;
      & > h1 {
        font-size: 1em;
        margin-bottom: 2%;
      }

      & > div {
        & > a {
          display: inline-block;
          padding-right: 3%;
          border-right: 2px solid black;
        }

        & > span {
          display: inline-block;
          padding-left: 3%;
        }
      }
    }
  }
}
